/* ----------- general styling --------------- */
.container-fluid {
  max-width: 1000px;
}

button {
  width: 150px;
  text-align: center;
}

.btn {
  background-color: #52d5c7;
  border: 1px solid #52d5c7;
  font-weight: 500;
}

/* -------------- input styling -------------- */
input[name="answer"] {
  width: 305px;
  text-align: center;
  font-size: 1.2em;
}

/* ----- remove arrows from input field ------ */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ---------- timer and progress bar styling ------ */
.timer-display {
  font-size: 7em;
  color: #52d5c7;
  font-weight: 500;
}

.math-problem {
  font-size: 7em;
  font-weight: 500;
}

#progress-bar {
  background-color: #f54242;
  height: 7px;
}

#background-color {
  background-color: #52d5c7;
  height: 7px;
}

/* ------- score and options styling ---------- */
.score {
  background-color: #ada8a8;
}

.diff {
  width: 110px;
}

label {
  text-align: center;
}

@media (max-width: 600px) {
  .score {
    text-align: center;
  }

  .choose {
    padding-top: 10px;
  }

}
